.cta
{
    margin: 80px 0px;
    background-image: linear-gradient(to right, #3f2321, transparent), url(../images/banner-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff;

    h3 
    {
        font-size: 4vh;
        line-height: 5vh;
        font-weight: 500;
    }

    p 
    {
        font-size: 18px;
        margin: 10px 0px;
    }
}

.cta-btn
{
   background-color: #ff5361;
   color: #fff;
   text-decoration: none;
   padding: 10px 12.5px;
   border-radius: 10px;
   margin-top: 20px;
   display: inline-block;
}