.sub-title
{
    margin: 50px 0px 20px;
    font-size: 4.4vh;
    font-weight: 500;
    color: #333;
}

.exclusives
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;

    div 
    {
        position: relative;

        img 
        {
            width: 100%;
            border-radius: 10px;
        }

        span 
        {
            position: absolute;
            top: 25%;
            left: 32.5%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: #fff;

            h3 
            {
                font-size: 17px;
            }
        }
    }
}