.list-container
{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-col
{
   flex-basis: 70%;

   h1 
   {
       color: #333;
       font-weight: 600;
       margin-bottom: 30px;
   }
}

.right-col
{
    flex-basis: 25%;
}

.house
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0px;
    border-top: 1px solid #ccc;
}

.house-img
{
    flex-basis: 40%;

    img 
    {
        width: 100%;
        border-radius: 12px;
    }

    h3 
    {
        font-weight: 600;
        color: #333;
        font-size: 22px;
        margin: 4px 0px;
    }
}

.house-info
{
    flex-basis: 58%;
    color: #555;

    i 
    {
        color: #ff5361;
        font-size: 18px;
        margin-top: 10px 1px;
    }

    a 
    {
        text-decoration: none;
        color: #555;
    }
}

.house-price
{
    text-align: right;

    h4 
    {
        font-size: 20px;

        span 
        {
            font-size: 16px;
            font-weight: 500;
        }
    }
}

.sidebar
{
    border: 1px solid #999;
    padding: 20px 30px;
    margin-top: 30px;

    h2 
    {
        font-weight: 500;
    }

    h3 
    {
        font-weight: 500;
        margin: 20px 0px 10px;
    }
}

.filter
{
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 10px;

    p 
    {
        flex: 1;
    }

    input 
    {
        margin-right: 15px;
        cursor: pointer;
    }
}

.sidebar-link
{
    text-align: right;
    margin: 20px 0px;

    a 
    {
        text-decoration: none;
    }
}

