.stories
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;

    div 
    {
        position: relative;
        text-align: center;

        img 
        {
            width: 100%;
            border-radius: 10px;
        }
    }

    p 
    {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 25px;
    }
}

.start-btn
{
    text-decoration: none;
    background-color: #ff5361;
    color: #fff;
    width: 25%;
    max-width: 350px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 10px;
    border-radius: 30px;
    font-size: 20px;
}